<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <property name="LOG_DIR" value="${LOG_DIR:-/usr/local/tomcat/logs/app}"/>

    <property name="LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{36} - %msg%n"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- Файл -->
    <appender name="FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">

        <file>${LOG_DIR}/application.log</file>

        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">

            <fileNamePattern>
                ${LOG_DIR}/application.%d{yyyy-MM-dd}.log
            </fileNamePattern>

            <maxHistory>30</maxHistory>

        </rollingPolicy>

        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>

    </appender>

    <!-- Hibernate -->
    <logger name="org.hibernate.SQL" level="DEBUG"/>
    <logger name="org.hibernate.orm.jdbc.bind" level="TRACE"/>

    <!-- Swagger -->
    <logger name="org.springdoc" level="DEBUG"/>
    <logger name="io.swagger.v3" level="DEBUG"/>

    <!-- Security -->
    <logger name="org.springframework.security" level="DEBUG"/>

    <!-- Твой код -->
    <logger name="io.github.mirvmir" level="DEBUG"/>

    <!-- ROOT -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>